#about-us-title {
    font-size: 2.5em;
    color: black;
    text-align: center;
}

#about-us-name {
    font-size: 2em;
    color: black;
    text-align: center;
}

#about-us-description {
    font-size: 1.2em;
    color: black;
    text-align: justify;
    margin: 20px auto;
    width: 50%;
}

#about-us-image {
    width: 50%;
    height: auto;
    border-radius: 20px;
}